<section ng-init="mainctrl.getStories()" ng-controller="MainController as mainctrl">
  <section class="cube-holder" ng-repeat="story in mainctrl.stories" >
    <input type="radio" checked id="radio-front" name="select-face"/>
    <input type="radio" id="radio-left" name="select-face"/>
    <input type="radio" id="radio-right" name="select-face"/>
    <input type="radio" id="radio-top" name="select-face"/>
    <input type="radio" id="radio-bottom" name="select-face"/>
    <input type="radio" id="radio-back" name="select-face"/>

    <div class="separator"></div>

    <div class="space3d">


      <div class="_3dbox">
        <div class="_3dface _3dface--front" ng-click="mainctrl.nextFace()">
          {{story.title}}
        </div>
        <div class="_3dface _3dface--top" ng-click="mainctrl.nextFace()">{{story.author}}</div>
        <div class="_3dface _3dface--bottom" ng-click="mainctrl.nextFace()">hello</div>
        <div class="_3dface _3dface--left" ng-click="mainctrl.nextFace()"></div>
        <div class="_3dface _3dface--right" ng-click="mainctrl.nextFace()"></div>
        <div class="_3dface _3dface--back" ng-click="mainctrl.nextFace()"></div>
      </div>

    </div>

    <div class="separator"></div>
    <br><br>
  </section>
</section>
