<section class="cube-holder">
      <input type="radio" checked id="radio-front" name="select-face"/>
      <input type="radio" id="radio-left" name="select-face"/>
      <input type="radio" id="radio-right" name="select-face"/>
      <input type="radio" id="radio-top" name="select-face"/>
      <input type="radio" id="radio-bottom" name="select-face"/>
      <input type="radio" id="radio-back" name="select-face"/>

      <div class="separator"></div>

      <div class="space3d">


        <div class="_3dbox">
          <div class="_3dface _3dface--front">
            <p>Hello hows it going i think you are very nice and helpful and kind and new and i think i want us to go away together into the land from which only dreams return. i want us to frolic between the folds of our subconscious and dance dance dance</p>
          </div>
          <div class="_3dface _3dface--top"></div>
          <div class="_3dface _3dface--bottom"></div>
          <div class="_3dface _3dface--left"></div>
          <div class="_3dface _3dface--right"></div>
          <div class="_3dface _3dface--back"></div>
        </div>

      </div>

      <div class="separator"></div>
      <br><br>
    </section>
