<section ng-init="mainctrl.getStories()" ng-controller="MainController as mainctrl" class="cube-container">
  <section class="cube-holder" ng-repeat="story in mainctrl.stories" >
    <input type="radio" class="radio-button" checked id="radio-front" name="select-face"/>
    <input type="radio" class="radio-button" id="radio-left" name="select-face"/>
    <input type="radio" class="radio-button" id="radio-right" name="select-face"/>
    <input type="radio" class="radio-button" id="radio-top" name="select-face"/>
    <input type="radio" class="radio-button" id="radio-bottom" name="select-face"/>
    <input type="radio" class="radio-button" id="radio-back" name="select-face"/>

    <div class="separator"></div>

    <div ng-class="mainctrl.spaceCubeStyle" class="space3d" >


      <div ng-class="mainctrl.boxCubeStyle" class="_3dbox" >
        <div class="_3dface _3dface--front"><img class="story-image" src="{{story.imgUrl}}" alt="" /></div>
        <div class="_3dface _3dface--top"></br></br>{{story.title}}</div>
        <div class="_3dface _3dface--bottom">{{story.description}}</div>
        <div class="_3dface _3dface--left"></div>
        <div class="_3dface _3dface--right"></div>
        <div class="_3dface _3dface--back"></div>
      </div>

    </div>

    <!-- <div class="separator"></div> -->
    <br><br>
  </section>
</section>
